
.text-container {
  text-align: left;
}

.subheading {
  color: gray;
  font-size: 0.875rem; /* Equivalent to "text-sm" */
  text-transform: uppercase;
  letter-spacing: 0.1em; /* Equivalent to "tracking-widest" */
  margin: 0;
}

.main-heading {
  font-size: 2.5rem; /* Equivalent to "text-4xl" */
  font-weight: bold;
  margin: 0;
}

.white-text {
  color: white;
}

.gradient-text {
  background: linear-gradient(to right, #9c31ff, #3b82f6); /* Purple to Blue */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  background: white;
  width: 90%; /* Adjust width for smaller screens */
  max-width: 900px; /* Maximum width for larger screens */
  height: 90vh; /* Use viewport height units */
  max-height: 600px; /* Set a maximum height for the modal */
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.modal-iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: auto; /* Enable scrolling for iframe content */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%; /* Adjust width for mobile devices */
    height: 80vh; /* Slightly reduce height for smaller screens */
  }

  .modal-close {
    top: 5px;
    right: 5px;
    padding: 3px 7px;
  }
}
