
.textContainer {
  text-align: left;
}

.subheading {
  color: gray;
  font-size: 0.875rem;
  /* Equivalent to "text-sm" */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /* Equivalent to "tracking-widest" */
  margin: 0;
}

.mainHeading {
  font-size: 2.5rem;
  /* Equivalent to "text-4xl" */
  font-weight: bold;
  margin: 0;
}

.whiteText {
  color: white;
}

.gradientText {
  background: linear-gradient(to right, #9c31ff, #3b82f6);
  /* Purple to Blue */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Add the glow effect */
  text-shadow: 0 0 10px rgba(156, 49, 255, 0.5);
}
